.header {
    padding: 160px 40px 80px 40px;
}


.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 160px;
}


.projetos-card {
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
    border: 1px solid var(--gray-tertiary);
    background-color: white;
    border-radius: 12px;
    padding: 16px 24px;
}